@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

html {
    background: #F7F1A3;
    font-family: 'Gloria Hallelujah', sans-serif;
}

body {
    background: #F7F1A3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

canvas {
    background: #65AFE8;
    background-image: linear-gradient(#4F88B5, #65AFE8);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 40%;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 5%;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}

#columns {
    display: flex;
    flex-direction: row;
}

section {
    margin-bottom: 5px;
}

#playButton, #fsButton {
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 1.2em;
    background-color: #65AFE8;
    color: white;
    border-radius: 10px;
    padding: 6px 20px;
    margin: 0 10px;
    border: none;
}

#playButton:hover {
    background-color: white;
    color: #65AFE8;
    cursor: pointer;
}

button[data-playing="yes"]:after {
    content: "Pause";
}

button[data-playing="no"]:after {
    content: "Play";
}

#fsButton {
    font-size: 1.2em;
    width: 6em;
}

/*#left-side {
    grid-row: 1;
    grid-column: 2;
}*/

audio {
    margin: 5% 0;
}

#trackSelect {
    background-color: #eeeeee;
    padding: 5px;
}

#fsButton {
    padding: 0;
}

#volumeSlider, #delaySlider, #distortSlider {
    -webkit-appearance: none;
    height: 20px;
    width: 150px;
    background-color: #65AFE8;
    border-radius: 20px;
}

#volumeSlider::-webkit-slider-thumb, #delaySlider::-webkit-slider-thumb, #distortSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 40px;
    background: white;
    border: 1px solid black;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    cursor: pointer;
}

/* CHECKBOXES

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50% 50% 50% 50% / 60% 60% 50% 50%;
}*/
