@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

html {
    height: 100%;
    background: #F7F1A3;
    font-family: 'Gloria Hallelujah', sans-serif;
}

body {
    background: #eeeeee;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: .5fr 1fr .5fr;
    background: #F7F1A3;

}

#container {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: row;

}

canvas {
    background: #65AFE8;
    background-image: linear-gradient(#4F88B5, #65AFE8);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 100%;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 5%;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}

#columns {
    display: flex;
    flex-direction: row;
}

section {
    margin-bottom: 1em;
}

#playButton, #fsButton {
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 1.2em;
    background-color: #65AFE8;
    color: white;
    border-radius: 10px;
    padding: 6px 20px;
    margin: 0 10px;
    border: none;
}

#playButton:hover {
    background-color: white;
    color: #65AFE8;
    cursor: pointer;
}

button[data-playing="yes"]:after {
    content: "Pause";
}

button[data-playing="no"]:after {
    content: "Play";
}

#fsButton {
    font-size: 1.2em;
    width: 6em;
}

/*#left-side {
    grid-row: 1;
    grid-column: 2;
}*/

audio {
    margin: 5% 0;
}

#trackSelect {
    background-color: #eeeeee;
    padding: 5px;
}

#fsButton {
    padding: 0;
}

#volumeSlider, #delaySlider, #distortSlider {
    -webkit-appearance: none;
    height: 20px;
    width: 150px;
    background-color: #65AFE8;
    border-radius: 20px;
}

#volumeSlider::-webkit-slider-thumb, #delaySlider::-webkit-slider-thumb, #distortSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 40px;
    background: white;
    border: 1px solid black;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    cursor: pointer;
}

